
@mixin grid($value) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap: 2rem;
}

@mixin title-text($sizeTitle) {
    font-size: $sizeTitle;
    margin: 1.5rem 0;
    text-transform: uppercase;
}

@mixin graph-text($sizeGraph) {
    font-size: $sizeGraph;
    margin: 1rem 0;
    color: $color-black;
    line-height: 1.8;
}

@mixin flex__wrap($gap) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    align-items: center;
}

// Responsive Design
@mixin responsive ($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: 450px) { @content };
    }
    @if $breakpoint == tablet-medium {
        @media (max-width: 640px) { @content };
    }
    @if $breakpoint == tablet-large {
        @media (max-width: 768px) { @content };
    }
    @if $breakpoint == PC {
        @media (max-width: 990px) { @content };
    }
    @if $breakpoint == desktop-large {
        @media (max-width: 1220px) { @content };
    }
    @if $breakpoint == desktop-2xl {
        @media (min-width: 1880px) { @content };
    }
}