
// Color variables
$color-primary: #5a73fc;
$color-primary-light: #8e9efc;
$color-primary-dark: #0b2ef3;
$color-gray: #777777;
$color-gray-light: #f7f7f7;
$color-gray-dark: #383838;
$color-white: #fff;
$color-black: #333;
$color-yellow-light: #ffb900;
$color-yellow-dark: #ff7730;
$color-green-light: #55c57a;
$color-green-dark: #08a06d;




// Font-size variables
$fontSize-default: 1.7rem; 


// Box-shadow variables
$box-shadow: 0 1rem 2rem rgba($color-black, 0.6);