
.enroll__form {
    background: 
        radial-gradient(150% 200% ellipse at -15%,
        rgba($color-white, 0.8) 50%, transparent 50%), 
        url(../../images/background3.jpg);

    background-size: cover;
    border-radius: 5rem;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.4);
    padding: 5rem 7rem;

}