@keyframes moveInleft {
    0% {
        transform: translateX(-8rem);
        opacity: 0;
    }
    70% {
        transform: translateX(2rem);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveInRight {
    0% {
        transform: translateX(8rem);
        opacity: 0;
    }
    70% {
        transform: translateX(-2rem);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        transform: translateY(6rem);
        opacity: 0;
    }
    80% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}