
// text-align: center;
.text-center {
    text-align: center !important;
}


// Margin bottom
.m-bottom__5 {
    margin-bottom: 5rem;
}

.m-bottom__2 {
    margin-bottom: 2rem;
}


// Margin top
.m-top__1 {
    margin-top: 1rem;
}
.m-top__2 {
    margin-top: 2rem;
}
.m-top__4 {
    margin-top: 4rem;
}
.m-top__5 {
    margin-top: 5rem;
}
.m-top__7 {
    margin-top: 7rem;
}
.m-top__8 {
    margin-top: 8rem;
}
.m-top__10 {
    margin-top: 10rem;
}